body {
    background-color: black;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    color: white;
}

h1 {
    font-size: 40px;
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 60px;
}

p {
    font-family: cursive;
    font-weight: 900;
    font-size: 20px;
    margin: 10px auto;
}

hr {
    margin-bottom: 30px;
    margin-top: 20px;
}

pre {
    font-size: large;
    font-family: cursive;
    line-height: 2;
    font-weight: bold;
    text-align: center;

}

table {
    border-spacing: 30px;
}

td {
    font-size: large;
    font-family: cursive;
    line-height: 1.7;
    font-weight: bold;
    margin-left: 30px;
    padding: 15px;
}

.col-lg-7 {
    font-size: larger;
    font-weight: bolder;
    font-family: cursive;
    line-height: 2.0;

}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 50%;
}

.carousel-item {
    padding-left: 170px;
    padding-right: 170px;
    text-align: center;
    font-size: 20px;
}


.detail {
    font-size: large;
    text-align: center;
    font-family: cursive;
    padding-top: 80px;
    position: static;
}

.info {
    margin-left: 100px;
    margin-right: 100px;
}

#title {

    padding: 20px;
    text-align: center;
}

#tribute-info {

    padding: 20px;
}